#carouselExampleAutoplaying {
    margin: 1rem 0px;
}

#carouselExampleAutoplaying .carousel-inner {
    height: 500px;
}

#carouselExampleAutoplaying .carousel-inner img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.coupon-item {
    margin-bottom: 20px;
}

.m-auto {
    margin: 0 auto;
}

.coupon-card {
    min-height: 200px;
}